body {
    margin: 0;
    padding: 0;
}
.container{
    
    display: flex;
    width:1440px;
    height: 100vh;
    
}
.column{
    
    flex:1;
}
.col1{
    background-image: url(images/bg-intro.svg)
}
.col2{
   
    padding:5%;
}
.mainimg{
    padding:15% 10%;
    
}
.fab{
    padding:2%;
    
}
.fas{
    padding:2%;
}
.images{
    
    text-align: right;
    display: flex;
}
.imgleft{
    text-align: left;
    
    flex: 2;
}
.heading{
    padding-top:20%;
    font-family: 'Raleway', sans-serif;
}
.text{
    font-family: 'Open Sans', sans-serif;
}
.footer{
    text-align: right;
    padding-top:20%;
}
.info{
    padding:3% 22%;
    box-shadow: 2px 4px 10px 0px #d6d6d6;
    border: none;
}
.button{
  border-radius: 5px;  
  background-color: hsl(163, 95%, 43%); 
  border: none;
  color: white;
  padding: 3% 10%;
  text-align: center;
  font-size: 16px;
  margin-left:5%;
}
.grey{
  color: hsl(0, 0%, 50%);
}